
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .card:hover {
            transform: scale(1.02);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        .btn-view-more {
            background-color: #F72C5B;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
        }

        .btn-view-more:hover {
            background-color: #d0224a;
        }

